<%= render(partial: "application/errors", locals: {errors: @measurement.errors.full_messages}) %>

<% if @item %>
  <h3><%= @item.name %></h3>
<% end %>

<%= form_for(@measurement, url: form_url_helper(@item)) do |f| %>
  <%= f.label "Quantity"%>
  <%= f.number_field :quantity %>
  <%= f.label "Units" %>
  <%= f.text_field :unit %>
  <% if !@item %>
    <%= f.label "Item" %> 
    <%= f.collection_select(:item_id, @items, :id, :name) %>
  <% end %>
  <%= f.submit("Save") %>
<% end%>