<h3> Edit Item </h3>
 
<%= render(partial: "application/errors", locals: {errors: @item.errors.full_messages}) %>

<%= render 'form' %>
<!--
<%= form_for(@item) do |f| %> <!-- Yields an argument(f) that is an instance of the form builder class--><!--
  <%= f.label "Item Name:" %>
  <%= f.text_field :name %>
  <%= f.fields_for :measurements do |m| %>
    <%= m.label "Quantity" %>
    <%= m.number_field :quantity %>
    <%= m.label "Units" %>
    <%= m.text_field :unit %>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>
-->