<h1>We are in the measurements layout</h1>

<%= link_to 'All Items', items_path %> 
<%= link_to 'New Item', new_item_path %>
<%= link_to 'New Measurement', new_measurement_path %>
<%= link_to 'All Measurements', measurements_path %>

<%= yield %>